body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  cursor: none;
}

.container {
  margin: auto;
  background: url("img/background.jpg") center/cover;
  width: 1100px;
  height: 700px;
}

.game__field {
  margin: auto;
  width: 1000px;
  height: 400px;
}

.line {
  background-color: lightgrey;
  position: absolute;
}

.line.horizontal {
  width: 100%;
  height: 2px;
  top: 50%;
}

.line.vertical {
  width: 2px;
  height: 100%;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
