body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  margin-left: 200px;
  background: url("img/background2.png") center/cover;
  width: 1100px;
  height: 700px;
}

.bird {
  width: 60px;
  height: 60px;
  transition: all 0.2s;
}

.bird:hover {
  transform: scale(1.12);
}

.game__menu {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game__button {
  width: 80px;
  height: 80px;
  font-size: 2.4rem;
  background-color: white;
  cursor: pointer;
}

.game__time {
  width: 80px;
  height: 10px;
  line-height: 10px;
  font-size: 30px;
  text-align: center;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.2em;
  margin-top: 1.4em;
  margin-bottom: 1.2em;
  visibility: hidden;
}

.game__score {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
  visibility: hidden;
}

.game__field {
  position: relative;
  margin-top: 60px;
  margin-left: 50px;
  width: 1000px;
  height: 350px;
}

.popup {
  position: absolute;
  text-align: center;
  top: 240px;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
}

.popup__button {
  margin-top: 1.2rem;
  font-size: 3.2rem;
}

.popup__message {
  font-size: 3.2rem;
  margin-top: 1.8em;
}

.popup--hide {
  display: none;
}
