body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  margin-left: 200px;
  background: url("img/background.jpg") center/cover;
  width: 1100px;
  height: 700px;
}

.game__field {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 400px;
}

.line {
  background-color: lightgrey;
  position: absolute;
}

.line.horizontal {
  width: 100%;
  height: 2px;
  top: 50%;
}

.line.vertical {
  width: 2px;
  height: 100%;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bird {
  width: 60px;
  height: 60px;
  transition: all 0.2s;
}

.bird:hover {
  transform: scale(1.12);
}

.game__button {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  background-color: white;
  cursor: pointer;
}

.game__menu {
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__time {
  width: 50px;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1.2em;
  margin-top: 1.4em;
  margin-bottom: 1.2em;
  visibility: hidden;
}

.game__score {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
  visibility: hidden;
}

.divider {
  display: flex;
}

.game__bullet {
  margin-top: 30px;
}

.bullet {
  width: 50px;
}

.popup {
  position: absolute;
  text-align: center;
  top: 240px;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
}

.popup__button {
  margin-top: 1.2rem;
  font-size: 3.2rem;
}

.popup__message {
  font-size: 3.2rem;
  margin-top: 1.8em;
}

.popup--hide {
  display: none;
}
